<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-content>
    <ion-list *ngFor="let dato of datosProducto.products">
      
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="dato.thumbnail" alt="avatar" />
        </ion-avatar>
        
        <ion-item>
        <ion-label>{{dato.title}}</ion-label>
        <ion-label color="primary">${{dato.price}}</ion-label>
        <ion-label color="success">{{dato.discountPercentage}}%</ion-label>
        </ion-item>
      </ion-item>
      
    </ion-list>

    
  </ion-content>

</ion-content>
