<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GB_CH_login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label *ngIf="login.cargando | async">
    cargando
  </ion-label>

  <form [formGroup]="formulario" (submit)="datosFormulario()">
    
    <ion-card>
      <h1 style="text-align: center;">Bienvenido</h1>
      <ion-item>
        <ion-input type="text" label="usuario" labelPlacement="floating" fill="outline" formControlName="usuario"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input type="password" label="contraseña" labelPlacement="floating" fill="outline" formControlName="contrasenia"></ion-input>
      </ion-item>
      <br>
        <ion-button type="submit" role="submit">Ingresar</ion-button>
  </ion-card>
  
  </form>
</ion-content>
